<div class="text-center">
  <form #registerform="ngForm" (submit)="doRegister();" class="form-signup">
    <div *ngIf="!isValidUser && registerform.submitted" class="alert alert-danger" role="alert">
      Username / password is invalid!
    </div>
    <img class="mb-4" src="../assets/images/angular-logo.png" alt="" width="72" height="72">

    <h2 class="h3 mb-3 font-weight-normal">Enter your details</h2>
    <label for="name" class="sr-only">Full Name</label>
    <input type="email" id="name" name="name" [(ngModel)]="credentials.name" class="form-control" placeholder="What is your name?" required
      autofocus>
      <label for="username" class="sr-only">Username</label>
      <input type="email" id="username" name="username" [(ngModel)]="credentials.username" class="form-control" placeholder="Choose username" required
        autofocus>
    <label for="pwd" class="sr-only">Password</label>
    <input type="password" id="password" name="password" [(ngModel)]="credentials.password" class="form-control" placeholder="Select a strong password..." required>
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="registerform.invalid">Sign up</button>
    <p class="my-3">Already have an account? <a routerLink="/login">Login</a></p>
  </form>
</div>