<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <img src="../assets/images/angular-logo.png" height="50" /> JupiterAir
  </h5>
  <nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">

      <a *ngIf="auth.getUserDetails()?.username==='admin'" class="py-2 px-2 d-none d-md-inline-block" routerLink="admin">Admin Panel</a>
      <a class="py-2 px-2 d-none d-md-inline-block" href="#">Product</a>
    </div>
  </nav>
  <span *ngIf="auth.isLoggedIn()">Welcome {{auth.getUserDetails()?.username}}</span>  
  <a *ngIf="!auth.isLoggedIn()" routerLink="login" class="btn btn-outline-primary">login</a>
  <a *ngIf="auth.isLoggedIn()" (click)="auth.logout()" class="btn btn-outline-primary ml-3">logout</a>
</div>

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto">
  <router-outlet></router-outlet>
</div>

<!--Footer-->
<footer class="page-footer font-small indigo pt-0">
  <!--Copyright-->
  <div class="footer-copyright py-3 text-center">
    Copyright &copy; Abhay Gawade . 2018
    <a href="https://www.lifecompilers.com/"> LTI </a>
  </div>
  <!--/Copyright-->

</footer>
<!--/Footer-->